<article>

	<p><b>P R O C U R A Ç Ã O</b></p>

	<p>Pelo presente instrumento particular de mandato por mim abaixo assinado: </p> 

	<p><b>OUTORGANTES: MARIA DA SILVA</b>, brasileira, autônoma, solteira, profissão, portadora da Carteira de Identidade RG nº XXXXXXXXXX, inscrita no CPF sob o nº XXXXXXXXXXXX residente e domiciliado Rua xxxxxxxxxxxxxxxxx, nº XX, Bairro XXX, CEP: XXXX-XXX - Cidade – Estado, endereço eletrônico: XXXX@XXXX.com, constituo (imos) e nomeio (amos) a bastante procuradora:</p>

	<p><b>OUTORGAD (O) A: </b>Dr (a). <b>MARIO DA SILVA</b>, brasileiro, solteiro, advogado, inscrito na Ordem dos Advogados do Brasil Seccional XXXX sob nº. XXXXXXX, profissional com escritório localizado na Rua XXXX, nº XXX, XXº andar, Conjunto XXX, Bairro XXX, CEP: XXXXX-XXX – Cidade – Estado, endereço eletrônico: XXXX@XXX.com</p>


	<p><b>OBJETO:</b> representar o (s) Outorgante (s), promovendo a defesa dos seus direitos e interesses, podendo, para tanto, propor quaisquer ações, medidas incidentais, acompanhar os processos administrativos e/ou judiciais em qualquer Juízo, Instância, Tribunal, ou Repartição Pública.</p>



	<p><b>PODERES</b><b>: </b>Por este instrumento particular de procuração, constituo meus bastantes procuradores os outorgados, concedendo-lhe os poderes inerentes da cláusula <b><i>ad juditia</i><i> et extra</i></b>, para o foro em geral, especialmente para propor <b>AÇÃO XXXXXX C/C XXXXX em face de </b><b>XXXXXX</b><b>, </b><b>inscrito no CPF sob o nº XXXXXXXX </b>podendo, portanto, promover quaisquer medidas judiciais ou administrativas, assinar termo, oferecer defesa, direta ou indireta, interpor recursos, ajuizar ações e conduzir os respectivos processos, solicitar, providenciar e ter acesso a documentos de qualquer natureza, sendo o presente instrumento de mandato oneroso e contratual podendo substabelecer este a outrem, com ou sem reserva de poderes, dando tudo por bom e valioso, a fim de praticar todos os demais atos necessários ao fiel desempenho deste mandato.</p>



	<p><b>PODERES ESPECÍFICOS</b><b>: </b>A presente procuração outorga aos Advogados acima descritos, os poderes especiais para <b>receber citação, confessar, reconhecer a procedência do pedido, transigir, desistir, renunciar ao direito sobre que se funda a ação, firmar compromissos ou acordos, receber valores, dar e receber quitação, receber e dar quitação, levantar ou receber RPV e ALVARÁS, pedir a justiça gratuita e assinar declaração de hipossuficiência econômica, em conformidade com a norma do art. 105 da Lei 13.105 2015.</b> </p>


	<p>Cidade/Estado, _______ de ___________________ de 2016.</p>

	<p>___________________________________________</p>

	<p>Assinatura 1º Outorgante</p> <p>___________________________________________</p>
	

</article>