{% extends "poa/base.html" %}
{% load bootstrap4 %}

	{% block content %}
		<div class="container form-body">

			<header class="form-title">
				<h3>Dados da Procuração</h3>
				<hr>
			</header>



			<section class="forms">
				<form id='postForm' action="{% url 'poa:create' %}" method="POST">
					
					{% csrf_token %}
					{% bootstrap_form form %}
					<input type="submit" id="create-button" value="" class="" name="">
				</form>

				<div class="button-container">
					<input type="button" id="secondaryButton" value="Criar Procuração!" class="btn btn-primary btn-large" onclick="document.getElementById('create-button').click()" />
				</div>


			</section>
		</div>
	{% endblock content %}
